<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>

    <div class="container text-center">
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card" style="margin: 10px;">
                        <div class="card-body">
                            <div class="form-group">
                                <p>Nombre vendedor:</p>
                                <input type="text" class="form-control" name="nombrevendedor">
                            </div>
                            <div class="form-group">
                                <p>Rut vendedor:</p>
                                <input type="text" class="form-control" name="rutvendedor">
                            </div>
                            <div class="form-group">
                                <p>Empresa:</p>
                                <input type="text" class="form-control" name="nombreempresa">
                            </div>
                            <div class="form-group">
                                <p>Direccion:</p>
                                <input type="text" class="form-control" name="direccionv">
                            </div>
                            <div class="form-group">
                                <p>Telefono:</p>
                                <input type="text" class="form-control" name="telefonov">
                            </div>
                            <div class="form-group">
                                <p>Correo:</p>
                                <input type="text" class="form-control" name="correovendedor">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="margin: 10px;">
                        <div class="card-body">
                            <div class="form-group">
                                <p>Nombre Cliente:</p>
                                <input type="text" class="form-control" name="nombrecliente">
                            </div>
                            <div class="form-group">
                                <p>Rut Cliente:</p>
                                <input type="text" class="form-control" name="rutcliente">
                            </div>
                            <div class="form-group">
                                <p>Direccion:</p>
                                <input type="text" class="form-control" name="direccioncliente">
                            </div>
                            <div class="form-group">
                                <p>Correo:</p>
                                <input type="text" class="form-control" name="correo">
                            </div>
                            <div class="form-group">
                                <p>Telefono:</p>
                                <input type="text" class="form-control" name="telefonoc">
                            </div>
                        </div>
                    </div>
                </div>
            </div>










            <table id="miTabla">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="producto" type="text" name="producto"></td>
                        <td><input id="descripcion" type="text" name="descripcion"></td>
                        <td><input id="cantidad" type="text" name="cantidad" oninput="calcularTotal()"></td>
                        <td><input id="preciounidad" type="text" name="preciounidad" oninput="calcularTotal()"></td>
                        <td><input id="totalproducto" type="text" name="totalproducto" value="0"></td>
                    </tr>
                </tbody>
            </table>
            <p>Total productos: <input id="valorNeto" name="valorNeto"></p>

            <p>Envío</p>
            <input id="valorenvio" type="text" name="valorenvio" oninput="calcularTotal()">

            <p>IVA (%)</p>
            <input id="iva" type="text" name="iva" oninput="calcularTotal()">

            <p>Total General: <input id="TotalAPagar" type="text" name="TotalAPagar" value="0"></p>
            
            
            <button type="submit" class="btn btn-primary">Guardar Orden</button>


            <br>
            <br>
            <br>
           
        </form>
        <button onclick="agregarFila()">Agregar Fila</button>
    </div>
    
    <script>
        let contador = 1;

        function agregarFila() {
            // Obtener la referencia de la tabla
            var tabla = document.getElementById("miTabla").getElementsByTagName('tbody')[0];

            // Crear una nueva fila
            var nuevaFila = document.createElement('tr');

            // Crear las celdas de la nueva fila
            var celdaProducto = document.createElement('td');
            var inputProducto = document.createElement('input');
            inputProducto.id = `producto`;
            inputProducto.type = 'text';
            inputProducto.name = `producto`;
            celdaProducto.appendChild(inputProducto);

            var celdaDescripcion = document.createElement('td');
            var inputDescripcion = document.createElement('input');
            inputDescripcion.id = `descripcion`;
            inputDescripcion.type = 'text';
            inputDescripcion.name = `descripcion`;
            celdaDescripcion.appendChild(inputDescripcion);

            var celdaCantidad = document.createElement('td');
            var inputCantidad = document.createElement('input');
            inputCantidad.id = `cantidad`;
            inputCantidad.type = 'text';
            inputCantidad.name = `cantidad`;
            inputCantidad.addEventListener('input', function() {
                calcularTotal();
            });
            celdaCantidad.appendChild(inputCantidad);

            var celdaPrecio = document.createElement('td');
            var inputPrecio = document.createElement('input');
            inputPrecio.id = `preciounidad`;
            inputPrecio.type = 'text';
            inputPrecio.name = `preciounidad`;
            inputPrecio.addEventListener('input', function() {
                calcularTotal();
            });
            celdaPrecio.appendChild(inputPrecio);

            var celdaCostoTotal = document.createElement('td');
            var inputCostoTotal = document.createElement('input');
            inputCostoTotal.id = `totalproducto`;
            inputCostoTotal.value = '0';
            inputCostoTotal.id = `totalproducto`;
            celdaCostoTotal.appendChild(inputCostoTotal);

            // Añadir las celdas a la nueva fila
            nuevaFila.appendChild(celdaProducto);
            nuevaFila.appendChild(celdaDescripcion);
            nuevaFila.appendChild(celdaCantidad);
            nuevaFila.appendChild(celdaPrecio);
            nuevaFila.appendChild(celdaCostoTotal);

            // Añadir la nueva fila a la tabla
            tabla.appendChild(nuevaFila);
        }

        function calcularTotal() {
            console.log('inicio')
            // Obtener todas las filas de la tabla
            var filas = document.getElementById("miTabla").getElementsByTagName('tr');

            // Variable para almacenar el total
            var totalGeneral = 0;
            var totalproducto = 0;

            // Iterar sobre las filas (empezando desde la segunda fila, ya que la primera es la cabecera)
            for (var i = 1; i < filas.length; i++) {
                var fila = filas[i];
                var inputsCantidad = fila.querySelector(`#cantidad`);
                var inputsPrecio = fila.querySelector(`#preciounidad`);
                var labelTotal = fila.querySelector(`#totalproducto`);

                // Obtener el valor de cantidad y precio de la fila actual
                var cantidad = parseFloat(inputsCantidad.value) || 0;
                var precio = parseFloat(inputsPrecio.value) || 0;

                // Calcular el total y mostrarlo en la etiqueta correspondiente
                var totalFila = cantidad * precio;
                labelTotal.value = totalFila.toFixed(2);

                // Agregar el total de la fila al total general
                totalproducto += totalFila;

                totalGeneral += totalFila;

            }
            document.getElementById('valorNeto').value = totalproducto.toFixed(2);
            // Obtener el valor de envío
            var envio = parseFloat(document.getElementById('valorenvio').value) || 0;

            // Obtener el valor del IVA (%)
            var porcentajeIVA = parseFloat(document.getElementById('iva').value) || 0;

            // Calcular el valor del IVA
            var valorIVA = totalGeneral * (porcentajeIVA / 100);

            // Sumar el envío y el valor del IVA al total general
            totalGeneral += envio + valorIVA;



            // Mostrar el total general
            document.getElementById('TotalAPagar').value = totalGeneral.toFixed(2);
        }
    </script>


</body>

</html>